<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="text/html" charset="UTF-8">
    <title><%=title %></title>
   <link rel="stylesheet" href="/stylesheet/style.css">
    
</head>
<body>
    <h1><%=title %></h1>

    <div role="main">
     <p><%= content%></p>
        <form method='post' action='/hello/add'>
            <table>
            <tr>
                <th>Name</th>
                <td><input type='text' name='name'></td>
            </tr>

            <tr>
                <th>Mail</th>
                <td><input type='text' name='mail'></td>
            </tr>

            <tr>
                <th>Age</th>
                <td><input type='text' name='age'></td>
            </tr>

            <tr>
                <th></th>
                <td><input type='submit' value='作成'></td>
            </tr>
            </table>
            
        </form>
    </div>
</body>
</html>